body {
	background-image: url('../gambar/bg1.jpg');
}
.home {
	display: grid;
	width: 100%;
	/* grid-template-columns: repeat(4, 1fr); */
	grid-template-rows: 10% 1fr 1fr;
	color: #fff;
}
.konten {
	grid-row: 2/3;
	background: rgba(0, 0, 0, 0.5);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.pc, .ac, .cctv, .ups {
	align-self: center;
	text-align: center;
	background: #c33;
	padding: 5%;
	margin: 10%;
}
.pc {
	grid-column: 1/2;
}
.ac {
	grid-column: 2/3;
}
.cctv {
	grid-column: 3/4;
}
.ups {
	grid-column: 4/5;
}
/* NAVBAR */
.navigasi {
	margin-bottom: 3%;
}
/* LOGIN */
.login {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 100vh;
	background-image: url('../gambar/bg1.jpg');
	color: #fff;
}
.judul{
	grid-column: 1/4;
	align-self: center;
}
.kiri {
	align-self: center;
}
.tengah {
	align-self: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 10%;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.3);
}
.kanan {
	align-self: center;
}
.button{
	grid-column: 1/3;
	margin-top: 10%;
	text-align: center;
}
img {
	width: 50%;
}
.pesan, #pesan {
	position: absolute;
	z-index: 10000;
	width: 100%;
	margin-top: 1%;
}
.isi {
	grid-row: 2/3;
	background: rgba(0, 0, 0, 0.5);
	padding: 1% 5%;
}
h1, th {
	text-align: center;
	vertical-align: middle !important;
}
/* size kecil */
@media only screen and (max-width: 700px) {
	.home {
		grid-template-rows: none;
		display: block;
	}
	.konten {
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}
	.konten, .isi {
		margin-top: 20%;
	}
	.pc, .ac, .cctv, .ups {
		grid-column: 1/1;
		margin: 2% 15%;
	}
	.pc {
		grid-row: 1/2;
	}
	.ac {
		grid-row: 2/3;
	}
	.cctv {
		grid-row: 3/4;
	}
	.ups {
		grid-row: 4/5;
	}
	.kiri, .kanan {
		display: none;
	}
	.tengah {
		grid-column: 1/4;
	}
}